@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

header {
   min-height: 600px;
    width: 100vw;
    background: black;
    overflow: hidden;
    background: #fff;  /* fallback colour. Make sure this is just one solid colour. */
    background:linear-gradient(to top, #212529c9, #f9fafb0f), url(../assets/banner3.jpeg) top right no-repeat;
    /*background-repeat: no-repeat;*/
    display: flex;
   justify-content: center;
   align-items: center;

}

.container{
   

}

.search-div{
   display: block;
   position: relative;
   height: 30px;
    /*max-width: calc(80rem + 3rem);*/
    width: 100%;
    top: -101px;
    margin: auto;

}



.search-div nav{
   max-width: calc(80rem + 3rem);
   margin: auto;
}

.search-content{
      background: linear-gradient(to right,#fa9e1b,#8d4fff);
    z-index: 10;
}
.search-content label{
   color: #fff;
   text-transform: uppercase;
}

.search-content .btn-submit{
   font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 43px;
    padding-left: 46px;
    padding-right: 46px;
    background: #31124b;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 27px;
}

.search-div div{
   
   color: #333;
}
.nav-link{
   display: inline-flex;
}
.label-text{
    font-size: 0.875rem;
    font-weight: 500;
    
    margin-left: 10px;
}

.icon{
   display: inline-block;
   width: 40px;
   height: 40px;
   background-size: cover;
}

.icon-hotel{
   background-image: url('../assets/hotel.svg');
}
.icon-car{
   background-image: url('../assets/car.svg');
}
.icon-jounery{
   background-image: url('../assets/journey.svg');
}

.search-item.active{
    background: #fa9e1b!important;

    

}
.search-item.active .icon ,.search-item.focus .icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(154deg) brightness(106%) contrast(104%);
}
.search-item.active .label-text{
  color: #fff;
}

.price-desc {
    position: relative;
    top: -15px;
    font-size: 0.56rem;
}

.total-desc {
    position: relative;

    left: -45px;
}

.fee-include{
   position: relative;
   left: 1px;
   top: -11px;
   font-size: 0.56rem;
}

.left-msg {
    position: relative;
    left: 95px;
    top: -20px;
    font-size: 0.56rem;
}


.my-info
    {
     width: 200px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
    }
.my-info:hover
    {  
     overflow: visible;
     white-space: unset;
    }


/*for hotel-room-list*/
.hotel-heading-1 {
  
    font-size: 1.75rem;
    font-weight: 700;
}

.heading-2 {
    color: #242c33;
    font-size: 1.125rem;
    font-weight: 700;
}

.img-column {
  width: 100%;
  border: 5px solid black;
  display: inline-block;
}

/*mine-tooltip start*/
.my-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.my-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.my-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.my-tooltip:hover .tooltiptext {
  visibility: visible;
}

.contact-div .row{
   margin-top: 20px;
}
.contact-div .row .form-control {
    display: block;
    width: 100%;
    padding: 1rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0f1010;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

   border: 1px solid ;
}



/* for room booking detail start */
.br-title{
   font-family: 'Playfair Display', serif;
   font-weight: 300;
}
.b-date{
   font-weight: 200;
}

.pre-room-booking{
   background-color: #fff !important;
   color:#060708b5;
   box-shadow: 2px 3px 2px 3px#060708b5;
}

/* for room booking detail end */

/* for frontend package start */
.my-img{
   position: relative;
}

.packageprice {
    position: absolute;
    top: -8px;
    left: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    background: rgb(241, 93, 48);
    padding: 8px;
    transition: all 0.3s ease 0s;
}

.project-wrap .my-img .packageprice:before {
    width: 0;
    right: -8px;
    height: 0;
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent #c7390d;
}

.project-wrap .my-img .packageprice:after {
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #c7390d transparent;
}
/* for frontend package end */


/*=============================================================================================================================================================================================================================*/
/*making car to be valid or not*/



/*==================================================================================================================================================================================================================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .search-div nav{
   max-width: calc(80rem + 3rem);
   margin: auto;
}

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .search-div nav{
   max-width: calc(80rem + 3rem);
   margin: auto;
}


@media screen and (max-width: 35.938rem){
.search-div nav{
   max-width: calc(80rem + 3rem);
   margin: auto;
}

}

