.star_one:hover{
	color: orange;
	transition: 0.2s;

}

.star_two:hover{
	color: orange;
	transition: 0.2s;
}

.star_three:hover{
	color: orange;
	transition: 0.2s;
}

.star_four:hover{
	color: orange;
	transition: 0.2s;
}

.star_five:hover{
	color: orange;
	transition: 0.2s;
}